Repository graphql/graphiql, pull requests merged in 2019-06, with the labels that each got.

#660 Remove font-family for hover error message
  css/app.css
Labels: CLA Signed, bug, design, version 0

#860 improved root readme with headers and badges
  README.md
  packages/graphql-language-service/README.md
  proposals/.gitkeep
  resources/graphiql-logo.png
Labels: version 0

#861 move browserslist to graphiql, upgrade autoprefixer/postcss
  babel.config.js
  packages/graphiql/.browserslistrc
  packages/graphiql/package.json
  yarn.lock
Labels: graphiql, version 0

#879 Replace babylon with @babel/parser
  .flowconfig
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/findGraphQLTags.js
  yarn.lock
Labels: enhancement, language-service-server
