Repository graphql/graphiql, pull requests merged in 2021-11, with the labels that each got.

#2017 graphql-ws upgrade, move to peerDependency
  .changeset/lovely-cycles-call.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/graphqlWs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/afterDevServer.js
  packages/graphiql/test/e2e-server.js
  packages/graphiql/test/schema.js
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  yarn.lock
Labels: enhancement, graphiql, transport-spec

#1925 chore: enable header editor by default
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Labels: graphiql

#2037 use graphql-lang-service in codemirror-graphql
  .changeset/red-laws-argue.md
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/jump.ts
  packages/codemirror-graphql/src/lint.ts
  packages/codemirror-graphql/src/results/mode.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/runParser.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/codemirror-graphql/src/variables/mode.ts
  packages/codemirror-graphql/tsconfig.esm.json
  packages/codemirror-graphql/tsconfig.json
Labels: language-interface, codemirror-graphql

#2072 fix: lsp server paths for windows, special chars, fragment/object cache
  .changeset/fifty-actors-sleep.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  yarn.lock
Labels: lsp-server
