Repository graphql/graphiql, pull requests merged in 2024-03, with the labels that each got.

#3518 fix: Fix vscode-graphql-syntax’s grammar to support string literals on separate lines
  .changeset/famous-games-begin.md
  packages/vscode-graphql-syntax/grammars/graphql.js.json
  packages/vscode-graphql-syntax/tests/__fixtures__/test-js.md
  packages/vscode-graphql-syntax/tests/__fixtures__/test.js
  packages/vscode-graphql-syntax/tests/__fixtures__/test.ts
  packages/vscode-graphql-syntax/tests/__snapshots__/js-grammar.spec.ts.snap
  packages/vscode-graphql-syntax/tests/__snapshots__/markdown-grammar.spec.ts.snap
Labels: vscode-graphql-syntax

#3534 multiple argument syntax highlighting
  .changeset/green-houses-raise.md
  packages/cm6-graphql/__tests__/cases.txt
  packages/cm6-graphql/src/syntax.grammar
Labels: cm-6

#3549 fix OpenVSX dependency bug by tweaking openvsx publish
  .changeset/warm-cups-explain.md
  packages/vscode-graphql/package.json
Labels: vscode-graphql, openvsx
