Repository graphql/graphiql, pull requests merged in 2024-08, with the labels that each got.

#3671 fix: astro parsing in LSP by allowing async parsers
  .changeset/seven-scissors-guess.md
  .eslintignore
  .prettierignore
  babel.config.js
  jest.config.base.js
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache.test.ts
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags.test.ts
  packages/graphql-language-service-server/src/__tests__/parseDocument.test.ts
  packages/graphql-language-service-server/src/__tests__/startServer.spec.ts
  packages/graphql-language-service-server/src/constants.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/parseDocument.ts
  packages/graphql-language-service-server/src/parsers/astro.ts
  packages/graphql-language-service-server/src/parsers/index.ts
  packages/graphql-language-service-server/src/parsers/types.ts
  packages/graphql-language-service-server/src/parsers/vue.ts
  packages/vscode-graphql/esbuild.js
  resources/custom-words.txt
  yarn.lock
Labels: lsp-server, confirmed bug

#3638 Version Packages
  .changeset/eighty-maps-change.md
  .changeset/fifty-swans-care.md
  .changeset/gold-numbers-crash.md
  .changeset/lazy-beers-confess.md
  .changeset/light-geckos-vanish.md
  .changeset/seven-scissors-guess.md
  .changeset/tidy-fans-reflect.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-nextjs/package.json
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-plugin-code-exporter/CHANGELOG.md
  packages/graphiql-plugin-code-exporter/package.json
  packages/graphiql-plugin-explorer/CHANGELOG.md
  packages/graphiql-plugin-explorer/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/CHANGELOG.md
  packages/graphiql-toolkit/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Labels: do not merge

#3414 style: Don't convert single \n to <br>
  .changeset/olive-mice-hide.md
  packages/graphiql-react/src/markdown.ts
Labels: graphiql, @graphiql/react
